<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Motards </label>
    <select
      class="form-control form-control-lg"
      id="IdMotard"
      name="IdMotard"
      [(ngModel)]="IdMotard"
      (change)="onChange()"
    >
      <option *ngFor="let m of motards" value="{{ m.idmotard }}">
        {{ m.nomMotard }}
      </option>
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Motard</th>
          </tr>
        </thead>
        <tbody *ngFor="let motor of motos">
          <tr>
            <td>{{ motor.modeleMoto }}</td>
            <td>{{ motor.prixMoto }}</td>
            <td>{{ motor.dateCreation | date: "dd/MM/yyyy" }}</td>
           

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
